.details{
	/*width:20%;*/
    min-width:15%;
	/*keep left same as above*/
	left:22vh;
	height:99vh;
	margin:5px;
	top:1px;
	padding:auto;
	background-color:$color-one;
	position:relative;
	z-index:2;
}
