
/**
 * Sidebar on Mobile
 */
@media screen and (max-width: 1080px) {
    .sidebar{
        position:fixed;
	
	top:0px;
	left:0px;
	height:10vh;
	width: 100vw;
	
	float:left;
	margin:none;
	
	z-index:200;
    }
    
    
    .one{
    border-top-right-radius: 0vh 0vh;
    border-bottom-right-radius: 0vh 0vh;
  
	height: 0vh;
	top: 0vh;
	width: 100vw;
	bottom: 90vh;
	left: 5vh;
	
	float:none;
	
	background-color: $color-one;
	
	z-index: 5;
    }

    .two{
	border-top-right-radius: 0vh 0vh;
    border-bottom-right-radius: 0vh 0vh;
  
	height: 10vh;
	top: 0vh;
	width: 100vw;
	bottom: 90vh;
	left: 0vh;
	
    background-color: $color-two;

	float:none;

    z-index: 4;
    }

    
    
    
    
    
.contents{
position:relative;
top:0vh;
/*background-color:$color-three;*/
width:100vw;
left:0vw;

}

.sidebar-nav-item{
position:relative;
background-color:$color-four;
vertical-align:none;
padding:0px;
margin:0px;
}

.sidebar-nav-item:nth-of-type(1) {
float: left;
left: 0vh;
}

.sidebar-nav-item:nth-of-type(2) {
float: left;
left: 0vh;
}

.sidebar-nav-item:nth-of-type(3) {
float: left;
left: 0vh;
}

.sidebar-nav-item:nth-of-type(4) {
float: left;
left: 0vh;
}

.sidebar-nav-item:hover{
background-color:$color-two;

}

.active{
background-color:$color-one;
}

    
    
    
   li {
  display: inline;
} 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
