
@media screen and (max-width: 1080px) {

.details{
	/*width:20%;*/
    min-width:15%;
	/*keep left same as above*/
	left:0vh;
	height:99vh;
	margin:5px;
	top:10px;
	padding:none;
	background-color:$color-one;
	position:relative;
	z-index:2;
}

}
