.contents {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: row;
   justify-content: center;
}

.contents > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}





.header-nav-item {
}


.menu {
}

.menu:hover {
	background-color: #111;
}
