<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <body>
	  <!--	<div class="flex-container">-->
		{% include head.html %}
		{% include header.html %}
		<div class="body-container">
		<div class="post_list">
			<h3>Latest blog post</h3>
	  		{% assign post=site.posts.first %}
	  		<ul class="post-list">
          			<li>
           				{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            				<span class="post-meta">{{ post.date | date: date_format }}</span>
              				<h2>
                				<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              				</h2>
          			</li>
        		</ul>
		</div>
		{% include projectlist.html %}
		<!--</div>-->
	</div>
  </body>
</html>
