<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    {% include sidebar.html %}
    {% include slideshow.html %}
    
	  <div class="details">
	  {% assign pages_list = site.pages %}
	    {% for node in pages_list %}
		{% if node.title != null and node.category==page.title %}
		<a href="{{ site.baseurl }}{{ node.url }}"  class="menu">{{ node.title }}</a>
		{% elsif node.category==page.category%}
            {% if node.category != "nav" %}
            <a href="{{ site.baseurl }}{{ node.url }}"  class="menu" >{{ node.title }}</a>
            {% endif %}
		{% endif %}
    {% endfor %}
	  </div>
	  
  </body>
</html>










